{{ include(':agriApp:base_head.html.twig') }}
<div class="container-fluid">

    <table id="surveyAsRecords" style="width: 100%" class="display table table-striped table-bordered">
        <h1>Survey Answers</h1>

        <thead>
        <th>ID</th>
        <th>Question</th>
        <th>Choice</th>
        <th>Detail</th>
        <th>Company</th>
        <th>Survey Version</th>
        </thead>
        <tbody>

        </tbody>
    </table>

</div>




<script>
    $(document).ready(function () {

        var tHead = $('#surveyAsRecords thead th');
        tHead.not(":eq(0)").each(function () {
            var title = $(this).text();
            //console.log(title);
            $(this).html('<input style="width:100%" type="text" placeholder=' + "\"" + title + "\"" + '>');
        });

        var table = $('#surveyAsRecords').DataTable({

            "deferRender": true,

            "ajax":
                {
                    "url": "{{ path('SurveyAnswersRecords') }}",
                    "type": "GET"
                },

            "columns": [
                {"data": "id"},
                {"data": "question"},
                {"data": "dropdownanswer"},
                {"data" : "details"},
                {"data" : "company"},
                {"data" : "surveyVersion"}

            ],
            order: [],
            "pageLength": 15,
            "lengthMenu": [[15, 25, 50, -1], [15, 25, 50, "All"]],
            columnDefs: [{
                id: "DT_RowId",
                "targets": [0],
                "orderable": false,
                "searchable": false,
                "visible": false
            },
                {
                    "targets": [1, 2, 3, 4],
                    "orderable": false
                }
            ]
        });
        table.columns().every(function () {
            var that = this;

            $('input', this.header()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });

            $('select', this.header()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    console.log(this.value);
                    if (this.value === "") {
                        that.search('').draw();
                    }
                    else that.search("^" + this.value + "$", true, false).draw();
                }
            });

        });
    });

</script>


{{ include(':agriApp:base_foot.html.twig') }}