/.web-server-pid
/build/
/phpunit.xml


!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/uploads/
/app/DoctrineMigrations/

/var/cache/*
/var/logs/*
/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep
/var/bootstrap.php.cache
/app/config/parameters.yml
/app/config/parameters.ini

/app/config/var/jwt

/bin/*
!bin/console
/bin/symfony_requirements
.env