</div>
<!-- /.row (main row) -->

</section>
<!-- /.content -->
</div>

<!-- /.content-wrapper -->
{{ include('agriApp/base_foot_footer.html.twig') }}
<!-- Control Sidebar -->

{{ include ('agriApp/base_foot_control_sidebar.html.twig') }}
<!-- /.control-sidebar -->

<!-- Add the sidebar's background. This div must be placed
     immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
</body>
</html>
