<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Powered by AdminLTE Version</b> 2.3.6
    </div>
    <strong>Copyright &copy;2017 <a href="http://saugo360.com">SAUGO 360</a>.</strong> All rights
    reserved.
</footer>