{{ include(':agriApp:base_head.html.twig') }}
<div class="box-body">

    <table id="companyRecords" style="width: 100%" class="display table table-striped table-bordered">
        <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Date of Establishment</th>
        <th>Main Branch Location</th>
        <th>Total Annual Sales</th>
        <th>Type</th>
        <th>Attribute</th>
        </thead>
       <tbody>

       </tbody>
    </table>

</div>
{{ include(':agriApp:base_foot.html.twig') }}