# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    env(database_host): 127.0.0.1
    env(database_port): ~
    env(database_name): symfony
    env(database_user): root
    env(database_password): ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    #env(mailer_transport): smtp
    #env(mailer_host): 127.0.0.1
    #env(mailer_user): ~
    #env(mailer_password): ~

    # A secret key that's used to generate certain security-related tokens
    env(secret): ThisTokenIsNotSoSecretChangeIt

    env(jwt_private_key_path): '---- Private Key'   # ssh private key path
    env(jwt_public_key_path):  '---- Public key'    # ssh public key path
    env(jwt_key_pass_phrase):  'password'                                # ssh key pass phrase if present
    env(jwt_token_ttl):       10000
    env(cld_ca): '---- ca path'
    env(cld_key): '---- key path'
    env(cld_cert): '---- cert path'


