{{ include(':agriApp:base_head.html.twig') }}
<div class="container-fluid">

    <table id="branchRecords" style="width: 100%" class="display table table-striped table-bordered">
        <h1>Branches</h1>
        <thead>
        <th>ID</th>
        <th>Company Name</th>
        <th>Staff Count</th>
        <th>Opening Date</th>
        <th>Address</th>
        <th>City</th>
        <th>District</th>
        <th>Governorate</th>
        {#<th></th>#}
        </thead>
        <tbody>

        </tbody>
    </table>

</div>



<div id="delBranch" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="box-header with-border">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h3 class="box-title">Confirm Delete</h3>
                </div>
                <div class="modal-body">
                    <form id="delBranchForm" role="form"
                          action=""
                          method="">
                        <div class="box-body">
                            <p class="text-black">Are you sure you want to delete this
                                Instance??</p>
                            <div class="box-footer">
                                <button type="submit" class="pull-right btn btn-primary">Yes
                                </button>
                                <button type="button" class="pull-left btn btn-primary"
                                        data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">No</span></button>
                            </div>
                            <input type="hidden" id="barnchdelID" name="barnchdelID">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {

        var tHead = $('#branchRecords thead th');
        tHead.not(":eq(0)").each(function () { {#,:eq(8)#}
            var title = $(this).text();
            //console.log(title);
            $(this).html('<input style="width:100%" type="text" placeholder='+ "\"" + title + "\"" +  '>');
        });

        var table = $('#branchRecords').DataTable({

            "deferRender": true,

            "ajax" :
                {
                    "url": "{{ path('BranchRecords') }}",
                    "type": "GET"
                },

            "columns": [
                {"data": "id"},
                {"data": "company_name"},
                {"data": "staff_count"},
                {"data": "opening_date"},
                {"data": "address"},
                {"data": "city_location"},
                {"data": "district_location"},
                {"data": "governorate_location"}

            ],
            order: [],
            "pageLength": 15,
            "lengthMenu": [[15, 25, 50, -1], [15, 25, 50, "All"]],
            columnDefs: [{
                id: "DT_RowId",
                "targets": [0],
                "orderable": false,
                "searchable": false,
                "visible": false
            },
                {
                    "targets": [1, 2, 3, 4, 5, 6,7],
                    "orderable": false
                },
//                {
//                    "targets":[8],
//                    "data": null,
//                    "defaultContent":'', //<button type="button" data-toggle="modal" data-target="#delBranch" class="deleteBut btn-group-xs btn bg-red-active"><b><i class="fa fa-times"></i></b></button>
//                    "orderable":false
//                }
            ]
        });
        table.columns().every(function () {
            var that = this;

            $('input', this.header()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });

            $('select', this.header()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    console.log(this.value);
                    if (this.value === "") {
                        that.search('').draw();
                    }
                    else that.search("^" + this.value + "$", true, false).draw();
                }
            });

        });
    });


</script>

<script>
    $('#branchRecords tbody').on( 'click', '.deleteBut', function () {
        var table = $('#branchRecords').DataTable();
        var data = table.row( $(this).parents('tr') ).data();
        $("#barnchdelID").val(data.id);
//        deleterow(data.id);
    });


    {#$(document).on("submit", "#delBranchForm", function (e){#}

        {#e.preventDefault();#}

        {#var data_array = $('#delBranchForm').serialize();#}
{#//        console.log(data_array);#}
        {#$.ajax({#}
            {#url: '{{ path('deleteBranch') }}',#}
            {#data: data_array,#}
            {#type: "POST",#}
            {#success: function (data) {#}
                {#if(data.status == 'success') {#}
                    {#$("#delBranch").modal("hide");#}
                    {#$("#barnchdelID").val("");#}
                    {#var table = $('#branchRe').DataTable();#}
                    {#table.ajax.reload(null, false);#}
                {#}if(data.status == 'error'){#}
                    {#//display the message#}
                {#}#}
            {#}#}
        {#});#}

    {#});#}

</script>
{{ include(':agriApp:base_foot.html.twig') }}